/* CSS stylesheet */

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0%;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hero {
    background-color: #1f2937;
    flex: 1;
    padding: 6px 200px;
}

ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header {
    display: flex;
    flex: none;
    align-items: center;
}

.left {
    flex: 1 0;
    align-items: center;
}

.titles {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 400px;
}

.second {
    display: flex;
    height: 500px;
    flex: 1;
    justify-content: space-between;
}

.right {
    display: flex;
    flex: 2 0;
    justify-content: flex-end;
}

.right,
.undertitle {
    font-size: 18px;
    color: #E5E7EB;
    width: 450px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.left {
    font-size: 24px;
    color: #F9FAF8;
}

.img {
    display: flex;
}

img {
    padding: 100px 0px;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    margin: 16px 0px;
    border-radius: 8px;
    width: 125px;
    font-size: 16px;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 6px 200px;
}

.info-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 40px;
}

.containers {
    display: flex;
    flex: 1;
    gap: 3em;
    justify-content: center;
}

.container {
    display: flex;
    flex: 0 1;
    gap: 10px;
    flex-flow: column wrap;

}

.brd {
    height: 170px;
    width: 170px;
    border: 5px solid #3882f6;
    border-radius: 16px;
}

.text {
    text-align: center;
    font-size: 16px;
    color: gray;
}