/* CSS stylesheet */

body {
    display: flex;
    flex: 100%;
    margin: 0%;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hero {
    background-color: #1f2937;
    flex: 1;
    padding: 20px 150px;
}

ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex: none;
    align-items: center;
}

.left {
    flex: 1;
    align-items: center;
}

.titles {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 400px;
}

.second {
    display: flex;
    height: 500px;
    flex: 1;
    justify-content: space-between;
}

.right {
    display: flex;
    flex: 2;
    justify-content: flex-end;
}

.right,
.undertitle {
    font-size: 18px;
    color: #E5E7EB;
    width: 450px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.left {
    font-size: 24px;
    color: #F9FAF8;
}

.img {
    display: flex;
}

img {
    padding: 100px 0px;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    margin: 16px 0px;
    border-radius: 8px;
    width: 120px;
    font-size: 16px;
}